$primary: #2874a6;
$secondary: #c0392b;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$primario: #e23939;
$gris-claro: #b8b8b8;
$sombra: 0 0 13px 0 rgba(185, 185, 185, 0.5);
$sombra-clara: 0 0 13px 0 rgba(185, 185, 185, 0.15);
