.ram__container {
  display: flex;
  flex-direction: row;
}

.ram__card {
  width: 20%;
  // height: 50px;
}
.ram_graph-container {
  display: grid;
  grid-gap: 15px;
  width: 75%;
  margin-left: 10px;
  grid-template-columns: 1fr;
  height: 1000px;
}

.ram_graph-1 {
  margin-left: 15px;
  width: 1000px;
}
.ram_graph-2 {
  margin-left: 15px;
  width: 1000px;
}

@media screen and (min-width: 1330px) {
  .ram_graph-1 {
    width: 1200px;
  }
  .ram_graph-2 {
    width: 1200px;
  }
}

@media screen and (max-width: 1329px) {
  .ram_graph-1 {
    width: 1000px;
  }
  .ram_graph-2 {
    width: 1000px;
  }
}
